
*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /* body{
  display: flex;
    width:100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
       
button{
  margin:10px;
    border:none;
    border-radius: 30px;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding:11px 40px;
    background:
    linear-gradient(rgb(39, 84, 133), transparent),
        linear-gradient(to  left, rgb(6, 174, 87), transparent),
        linear-gradient(to  right, rgb(6, 37, 150), transparent);
    background-blend-mode: screen;
    font-family:  sans-serif;
    cursor:pointer;
   
}



textarea{
  width: 833px; 
  height: 165px;
}
div.container{
  display:flex;
  align-items: center;
  flex-direction: column;
}
div.sw {
  text-align: right;
  padding: 3rem 0rem 3rem 3rem;
  width: 24%;
  margin: 0px 0px 0px auto;
} */






.card{
  width: 50%;
  margin: 15px 15px 12px 12px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  color:black;
  padding: 5px;
}
.Two-card{
  width: 100%;
    display: flex;
   margin: 6px;
    object-fit: cover;
  
   
}
div.all-element{

  /* background-image: linear-gradient(rgba(136, 140, 217, 0.683), rgb(245, 245, 242)); */
  margin-top: 80px;
  
    padding: 7px;
}

.card-body .btn{
  align-self:last baseline
}
.card-title {
 
  height: 53px;
}
div.element{
  display:flex;
  flex-direction: row;
  align-content: center;
  margin: 40px 25px;
  object-fit: cover;
  height: max-content;
  justify-content: center;
  
  
}
.element-name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 30px;
  font-weight: 600;
}
.carousel-item img{
  
  height: 100vh;
  
  
}


.card-img-top{
  border-radius: 0%;
    height: 100%;
    object-fit: cover;
   
    
}
.card:hover .card-img-top{
  opacity: .9;
  
  
}
.t{
  background-color: #0d0c03a9;
  color: #ebebe9;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
}

.card:hover{
  box-shadow: 10px 10px 25px rgb(43, 64, 70);
  cursor: pointer;

}
.navbar-brand{
 
  font-size: 25px;
  background: -webkit-linear-gradient(#1d37c9, #e1d605);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-brand:hover{
 
  font-size: 25px;
  background: -webkit-linear-gradient( #f0f00d,#280e8f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-item:hover .dropdown-menu{
  display:block;
}
.main-side-heading{
   display:flex;
   background-size: 100vw;
   height: 40vh;
   background-repeat: no-repeat;
   
}
.side-img{
  width: 90%;
  height:90%;
  margin: 40px 40px 10px 10px;
}
.dsa-element{
  display:flex;
  flex-wrap: wrap;
}
.dsa-item{
  width: 20%;
  height: 30vh;
    color:white;
    text-decoration: none;
  margin: 69px 38px 16px 17px;
  font-size: 1.5em;
  padding: 25px;
  display: flex;
  align-items: center;
}

.details{
  padding-top: 10px;
}


 .dsa-item:hover {
  color:#0d0c03;
  box-shadow: 10px 10px 25px rgba(0, 1, 1, 0.306);
  cursor: pointer;
}
.dsa-item:nth-child(1) {
  background-image: linear-gradient(135deg,#f45f03,#eeca39);
 }
 .dsa-item:nth-child(2) {
  background-image: linear-gradient(135deg,#7d8714,#93f542);
 }
 .dsa-item:nth-child(3) {
  background-image: linear-gradient(135deg,#0b8909,#2cea9e);
 }
 .dsa-item:nth-child(4) {
  background-image: linear-gradient(135deg,#0b705a,#64b2f6);
 } 
 .dsa-item:nth-child(5) {
  background-image: linear-gradient(135deg,#145b87,#8464f6);
 } 
 .dsa-item:nth-child(6) {
  background-image: linear-gradient(135deg,#033c5f,#8d0684);
 } 
 .dsa-item:nth-child(7) {
  background-image: linear-gradient(135deg,#143887,#1c788f);
 } 
 .dsa-item:nth-child(8) {
  background-image: linear-gradient(135deg,#145b87,#8464f6);
 } 
 .dsa-item:nth-child(9) {
  background-image: linear-gradient(135deg,#871476,#0e73de);
 } 
 .dsa-item:nth-child(10) {
  background-image: linear-gradient(135deg,#8b1345,#e1c402);
 } 
 .dsa-page,.array-page{
  padding-top: 40px;
 }
 .array-page{
  display: flex;
  
 }
 .mid{
  width:100%;
  margin: 30px 10px;
 }
 .side{
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  
 }
 
 

 .jumbotron{
  display: flex;
  flex-direction:row;
  height:fit-content;
  width: 100%;
  background-image: linear-gradient(135deg,#646464,#0d0c03);
  
  
  border-radius: 5px;
  margin:15px ;
 }
 .lead{
  width: 70%;
  margin: 10px;
 }
 .book-img{
  margin: 21px;
  width: 30%;
 }
 .book-name{
  
  font-size: 25px;
    font-weight: 500;
    color: white;
    margin-bottom: 0;

 }
 .book-details{
  font-size: 15px;
  font-weight: 400;
  color: #ede27e;
  
 }
 .btn{
  color: #0d0c03;
  background-color: #ffffff;
  border-color: #0d0c03;
  
 }
 .btn:hover{
  border-color: #0d0c03;
  box-shadow: 5px 4px 25px #f3f5f77d;
  background-color: #0d0c03;
  color: #ffffff;
  
 }
 
 .num,.prob-link{
  width:10%;
  margin: 3px;
  font-size: 15px;

 }
 .prob-link a{
  font-size: 15px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .prob-name{
  font-size: 18px;
  margin: 4px;
 }
 .practice{
  display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
 }
 .about-links .fa {
  padding: 8px;
  font-size: 18px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  background: #0021b5;
  color: white;
}

.about-links .fa:hover {
    opacity: 0.7;
    background: #00101876;
  color: white;
}
.carousel-item{
  opacity: 0.5;
    

}
.carousel-inner{
  background-color: #0d0c03;
  height: 90vh;
}
.front{
  display:flex;
}
.heading {
  width: 32%;
  display: flex;
 flex-direction: column;
  align-items: center;
  
  justify-content: center;
  
}
.head-btn{
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: cursive;
  color: white;
  background-color: #0d0c03;
}
.head-btn:hover{
  
  color: white;
  background-color: #8a080a;
  cursor: pointer;
}
.heading h2{
  width: 9ch;
    border-right: 3px solid rgb(247, 3, 3);
    margin: 0px 0px 7px 9px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;

}
@keyframes typing {
  from {
      width: 0;
  }
}
@keyframes blink-caret {
  50% {
      border-color: transparent;
  }
}
#carouselExampleIndicators{
  width:73%;
clip-path: circle(90% at 88% 44%);
}

@media screen and (max-width: 1200px) {
  #carouselExampleIndicators {
    display: none;
  }
  .heading {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 300px;
  }
  .head-btn{
    
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
}
 @media screen and (max-width: 1145px) {
 
  .jumbotron{
    
    margin:5px ;
   }
  .book-img{
    margin: 2px;
    width: 200px;
   }
  .book-name{
    font-size: 15px;
      font-weight: 900;
      color: white;
      margin-bottom: 0;
  
   }
   .mid{
    
    margin-top: 20px;}
   .btn{
    width: 100px;
    height: fit-content;
    font-size: 14px;
    
   }
    ul {
     padding-left: 5px; 
}
   .book-details{
    font-size: 10px;
    font-weight: 400;
    color: #ede27e;
    
   }
   div.element{
    flex-direction: column;
   }
 
  
  .array-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.book-img {
  margin: 21px;
  width: 200px;
  height: 200px;
}
.book-name {
 color:#0d0c03;
}
.book-details {
  
  color: #5f5714;
}

.jumbotron {
  background-image: none;
}
.dsa-item {
  width: 100%;}
}
.about-links{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-links li{
  margin-left: 4px;
}
 .feat{
  width:100%;
 
}
.spanh2{
  display: flex;
  justify-content: center;
}
.leftmenu2{
 
  
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.python{


  font-size: 40px;
  margin-left: 10px;
  font-family: emoji;
      font-size: 25px;
      background: -webkit-linear-gradient( #3976a6, #ffe05f);
      background-clip: text;
      -webkit-text-fill-color: transparent;
  
}
.side-lan{
  width: 26%;
  margin-top: 5px;
  float: left;
  background-color: #080202ec;
  padding: 10px 15px;
  display: flex;
    flex-basis: auto;
  
  justify-content: center;
}
.program-que-ans {
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 4px;
  width: 80%;
  float: left;
  padding: 10px 15px;
  background-color: #fff;
}
@media screen and (max-width: 700px) {
  .side-lan,.program-que-ans {
    width: 100%;
  }
  .program-page{
    flex-direction: column;
  }
  .carousel-item img {
    height: 57vh;
}
  .Two-card{
    align-items: center;
    flex-direction: column;
  }
  .card{
    width:85%;
    
  }
  .card:hover{
    width:85%;
    
  }
  .card-title {
    height: fit-content;
    margin: 0px;
}

}
ul{
  list-style: none;

}
ul li{
  text-decoration: none;
}
.lan-link {
  display: block;
  padding: .5rem 1rem;
  color: #c2d975;
  text-decoration: none;
}
.lan-link-active {
  display: block;
  padding: .5rem 1rem;
  color: #3882ea;
 
  text-decoration: none;
}
.program-page{
  display:flex;
}
.MsoNormal{
  list-style: disc;
}
.fa-arrow-circle-o-up{
  font-size: 30px;
  color: #0d8b2c;

}
.fa-arrow-circle-o-up:hover{
  font-size: 35px;
  color: #000000;

}
.side-lan-small{
  font-size: 20px;
  width: 100%;
  font-weight: 800;
  display: none;
  background-color: #000000;
  color: white;
  padding: 10px;
  cursor: pointer;
}
 @media screen and (max-width: 700px) {
  .side-lan-small{
    display: block;
  }
  
}
@media screen and (min-width: 700px) {
  .side-lan{
    display: flex!important;
  }
  .side-lan-small{
    display: none;
  } 
}
  
